In [28]:
import pandas as pd
grades_dict = {'Wally': [87, 96, 70], 'Eva': [100, 87, 90],
               'Sam': [94, 77, 90], 'Katie': [100, 81, 82],
               'Bob': [83, 65, 85]}
grades = pd.DataFrame(grades_dict)
grades.index = ['Text1', 'Text2', 'Text3']

In [29]:
print(grades[grades >= 90])

       Wally    Eva   Sam  Katie  Bob
Text1    NaN  100.0  94.0  100.0  NaN
Text2   96.0    NaN   NaN    NaN  NaN
Text3    NaN   90.0  90.0    NaN  NaN

In [30]:
print(grades[(grades >= 80) & (grades < 90)])

       Wally   Eva  Sam  Katie   Bob
Text1   87.0   NaN  NaN    NaN  83.0
Text2    NaN  87.0  NaN   81.0   NaN
Text3    NaN   NaN  NaN   82.0  85.0

In [31]:
grades["Wally"]['Text2']=80

In [32]:
print(grades[(grades == 100) | (grades == 90) | (grades == 80)])

       Wally    Eva   Sam  Katie  Bob
Text1    NaN  100.0   NaN  100.0  NaN
Text2   80.0    NaN   NaN    NaN  NaN
Text3    NaN   90.0  90.0    NaN  NaN

In [36]:
print(grades)
print(grades.at['Text2', 'Eva'])

       Wally  Eva  Sam  Katie  Bob
Text1     87  100   94    100   83
Text2     80   87   77     81   65
Text3     70   90   90     82   85
87

In [37]:
print(grades.iat[0, 2])

94