In [1]:
import pandas as pd
grades_dict = {'Wally': [87, 96, 70], 'Eva': [100, 87, 90],
               'Sam': [94, 77, 90], 'Katie': [100, 81, 82],
               'Bob': [83, 65, 85]}
grades = pd.DataFrame(grades_dict)
print(grades)

   Wally  Eva  Sam  Katie  Bob
0     87  100   94    100   83
1     96   87   77     81   65
2     70   90   90     82   85

In [2]:
students_dict = {'LName': ['Jones', 'Caldin', 'Smith'], 'StudentID': [111111, 123456, 246002], 'GPA': [3.8, 3.6, 3.5]}
students = pd.DataFrame(students_dict)
print(students)

    LName  StudentID  GPA
0   Jones     111111  3.8
1  Caldin     123456  3.6
2   Smith     246002  3.5

In [3]:
grades.index = ['Text1', 'Text2', 'Text3']
print(grades)

       Wally  Eva  Sam  Katie  Bob
Text1     87  100   94    100   83
Text2     96   87   77     81   65
Text3     70   90   90     82   85

In [4]:
print(grades['Eva'])

Text1    100
Text2     87
Text3     90
Name: Eva, dtype: int64

In [5]:
print(students['StudentID'])
print(students.StudentID)

0    111111
1    123456
2    246002
Name: StudentID, dtype: int64
0    111111
1    123456
2    246002
Name: StudentID, dtype: int64

In [7]:
print(grades.loc['Text1'])

Wally     87
Eva      100
Sam       94
Katie    100
Bob       83
Name: Text1, dtype: int64

In [8]:
print(grades.iloc[1])

Wally    96
Eva      87
Sam      77
Katie    81
Bob      65
Name: Text2, dtype: int64

In [9]:
print(grades.loc['Text1': 'Text3'])  # second index is included

       Wally  Eva  Sam  Katie  Bob
Text1     87  100   94    100   83
Text2     96   87   77     81   65
Text3     70   90   90     82   85

In [10]:
print(grades.iloc[0:2])  # second index is excluded

       Wally  Eva  Sam  Katie  Bob
Text1     87  100   94    100   83
Text2     96   87   77     81   65

In [12]:
print(grades.loc['Text1': 'Text2', ['Eva', 'Bob']])

       Eva  Bob
Text1  100   83
Text2   87   65

In [14]:
print(grades.iloc[:, 0:3])

       Wally  Eva  Sam
Text1     87  100   94
Text2     96   87   77
Text3     70   90   90